<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
    <listeners>
        <listener class-name="utilities.Listeners" />
    </listeners>
    <test verbose="2" preserve-order="true" name="Login Tests">
        <classes>
            <class name="HomePageNavigation"> </class>
        </classes>
     </test>
    <test verbose="2" preserve-order="true" name="Search Tests">
        <classes>
            <class name="ProductSearch"> </class>
        </classes>
    </test>
</suite>